@if (loading)
{
    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
}

@code {
    public static LoadingSpinner? Instance { get; private set; }
    private bool loading = false;
    public bool isLoading
    {
        private set => loading = value;
        get => loading;
    }

    protected override void OnInitialized()
    {
        Instance = this;
    }

    public void Start()
    {
        loading = true;
        StateHasChanged();
    }

    public void Stop()
    {
        loading = false;
        StateHasChanged();
    }
}
