@if (loading)
{
    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
}

@code {
    private bool loading = false;
    public bool isLoading 
    {
        private set 
        {
            loading = value;
        }
        get 
        {
            return loading;
        } 
    }

    public void Start()
    {
        loading = true;
        StateHasChanged();
    }

    public void Stop()
    {
        loading = false;
        StateHasChanged();
    }
}
