<LoadingSpinner @ref="loading" />
<JWTokenHandler @ref="jWTokenHandler" />

<Modal @ref="modal">
    <ModalContent Size="ModalSize.Large" Scrollable>
        <ModalHeader>
            <ModalTitle>@quiz.Title</ModalTitle>
            <CloseButton Clicked="Close" />
        </ModalHeader>
        <ModalBody>
            @if (usersToQuiz == null)
            {
                <Div>Loading...</Div>
            }
            else
            {
                @if (usersToQuiz.Count <= 0)
                {
                    <Div>No students found assigned to this quiz</Div>
                }
                else
                {
                    <Row HorizontalGutter="10" VerticalGutter="10">
                        @foreach (User_QuizUserInfoDTO userQuiz in usersToQuiz)
                        {
                            <Column ColumnSize="ColumnSize.Is6">
                                <Card>
                                    <CardHeader>
                                        @userQuiz.User.username
                                    </CardHeader>
                                    <CardBody>
                                        <Row>
                                            <Column ColumnSize="ColumnSize.Is6">
                                                <p class="card-text">Email: @userQuiz.User.email</p>
                                            </Column>
                                            <Column ColumnSize="ColumnSize.Is6">
                                                <p class="card-text">Score: @userQuiz.Results</p>
                                            </Column>
                                        </Row>
                                    </CardBody>
                                </Card>
                            </Column>
                        }
                    </Row>
                }
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="OpenAddStudentsModal">Add students</Button>
            <Button Color="Color.Secondary" Clicked="Close">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Inject] public HttpClient? Http { get; set; }
    private LoadingSpinner? loading;
    private JWTokenHandler? jWTokenHandler;
    private Modal? modal;

    private QuizDTO quiz = new();
    private List<User_QuizUserInfoDTO>? usersToQuiz = null;
    private Action<QuizDTO>? openAddStudentsModal;

    public async void Open(QuizDTO quiz, Action<QuizDTO> openAddStudentsModal)
    {
        if (Http == null) return;
        if (jWTokenHandler == null) return;

        modal?.Show();
        loading?.Start();

        string jwt = await jWTokenHandler.GetToken();
        this.quiz = quiz;
        this.openAddStudentsModal = openAddStudentsModal;

        (HttpStatusCode statusCode, List<User_QuizUserInfoDTO>? response) =
           await HttpHandler.GetAsync<List<User_QuizUserInfoDTO>>(
               $"/api/User_Quiz/AllStudents/{quiz.ID}", jwt, Http);

        if (statusCode == HttpStatusCode.OK)
        {
            usersToQuiz = response ?? new();
            StateHasChanged();
        }

        loading?.Stop();
    }

    private void Close()
    {
        usersToQuiz = null;
        StateHasChanged();
        modal?.Hide();
    }

    private void OpenAddStudentsModal(){
        Close();
        openAddStudentsModal?.Invoke(quiz);
    }
}
