@page "/aboutUs"

<h2>About Us</h2>

<h3>Education</h3>
<Span>
    We are students of mercantec, studying to become it supporters, data technician with
    specialty in programming or infrastructure. <br />

    We start together on our introductory course, we get to learn about all three of the
    specialties, after the introductory course, we need to choose our specialty. <br />

    There the first split happens, data technician with specialty in programming go in another
    direction, while data technician with specialty in infrastructure and it supporters will
    stay together until the it supperters finish. <br />

    All three educations is a mix of school and real world experience,
    we start with core/introductory course, after that we shift between real live experience
    and school. <br />

    If can prove that you have passed an equivalent or higher level of a subject, you can get
    credit for that subject, which means you don't have to take that subject again.
</Span>

<h5 class="mt-3">High school</h5>
<Span>
    You can complete a high school, while also studying to become a data technician.
    <Strong>BUT NOT</Strong> as an it supporter. <br />

    Completing it with high school it's called EUX, without it's EUD.
</Span>

<h5 class="mt-3">Education Length</h5>
<Span>
    It supporters: 3 years. <br />
    Both EUD data technician specialties: 5 and a half years. <br />
    Both EUX data technician specialties: 5 and a half years.
</Span>

<h3 class="mt-3">Apprenticeship</h3>
<Span>
    When you start the introductory course, you are asked to apply for apprenticeship in 
    companies, with the specialty you want to work as. <br />


    When you get an apprenticeship, you work for them the rest of your education lenght, 
    if you get one before the introductory course is done, you still finish the course. <br />

    But if you can't find a apprenticeship before you complete the introductory course, you
    start at the SOC (a school apprenticeship center). Where it tries to be a real company and you can
    still try to find a apprenticeship in a real company.
</Span>

<h5 class="mt-3">Salary</h5>
<Span>
    When you complete the introductory course and start in either a school or real apprenticeship,
    you get paid for the rest of the education. <br />

    There are a mandatory salary incress yearly. <br />

    The diffence in salary between a school or real apprenticeship are big.
</Span>

<Div Class="my-3">
    <h3>Read more</h3>
    <h5>EUD</h5>
    <ul>
        <li>
            <a href="https://www.mercantec.dk/uddannelser/eud/data-og-it/it-supporter" target="_blank">
                It supporters
            </a>
        </li>
        <li>
            <a href="https://www.mercantec.dk/uddannelser/eud/data-og-it/datatekniker-infrastruktur" target="_blank">
                Data technician with specialty in infrastructure
            </a>
        </li>
        <li>
            <a href="https://www.mercantec.dk/uddannelser/eud/data-og-it/datatekniker-programmering" target="_blank">
                Data technician with specialty in programming
            </a>
        </li>
    </ul>

    <h5>EUX</h5>
    <ul>
        <li>
            <a href="https://www.mercantec.dk/uddannelser/gymnasiale-uddannelser/eux/eux-datatekniker-infrastruktur" target="_blank">
                Data technician with specialty in infrastructure
            </a>
        </li>
        <li>
            <a href="https://www.mercantec.dk/uddannelser/gymnasiale-uddannelser/eux/eux-datatekniker-programmering" target="_blank">
                Data technician with specialty in programming
            </a>
        </li>
    </ul>
</Div>

<Divider class="w-100" />

<h4>Developers</h4>
