@page "/TeacherMyPage"

@inject NavigationManager NavigationManager

<TeacherUserInfoModal @ref="teacherQuizInfoModal" />
<TeacherAddStudentToQuiz @ref="teacherAddStudentToQuiz" />
<TeacherQuestionsInfo @ref="teacherQuestionsInfo" />

<PageTitle>My page</PageTitle>

<h3>My Page</h3>

<GenericListComponent T="QuizDTO" Items="quizzesMaked"
NoItemsText="You haven't created any quizzes.">
    <BodyContent>
        <Column ColumnSize="ColumnSize.Is4">
            <Card>
                <CardHeader>
                    <Div Class="Split">
                        @context.Title

                        <Button Color="Color.Primary" Clicked="() => OpenDeleteQuizConfimationModal(context)">
                            <i class="fa-solid fa-trash"></i>
                        </Button>
                    </Div>
                </CardHeader>
                <CardBody>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is4">
                            Category: @context.Category
                        </Column>
                        <Column ColumnSize="ColumnSize.Is4">
                            Difficulty: @context.Difficulty
                        </Column>
                        <Column ColumnSize="ColumnSize.Is4">
                            Questions: @context.QestionsAmount
                        </Column>
                    </Row>
                </CardBody>
                <CardFooter>
                    <Row>
                        <Column>
                            <Button Class="btn btn-primary w-100" Clicked="() => OpenQeustionModal(context)">
                                Show Questions
                            </Button>
                        </Column>
                        <Column>
                            <Button Class="btn btn-primary w-100" Clicked="() => OpenQuizModal(context)">
                                Show Students
                            </Button>
                        </Column>
                    </Row>
                </CardFooter>
            </Card>
        </Column>
    </BodyContent>
</GenericListComponent>

<CustomModal Title="Are you sure you want to delete this quiz" @ref="deleteConfirmationModal" size="ModalSize.Small"
             DefaultOnClose="true" PrimaryButtonText="Confirm" OnPrimaryAction="DeletionConfirmed">
    <BodyContent>
        This action can't be undone.
        All student assigned to this quiz losses there sore.
    </BodyContent>
</CustomModal>

@code {
    [CascadingParameter(Name = "HttpHandler")]
    private HttpHandler? httpHandler { get; set; }

    [CascadingParameter(Name = "JWTokenHandler")]
    private JWTokenHandler? jWTokenHandler { get; set; }

    [CascadingParameter(Name = "LoadingSpinner")]
    private LoadingSpinner? loading { get; set; }

    [CascadingParameter(Name = "SessionStorageHandler")]
    private SessionStorageHandler? sessionStorageHandler { get; set; }

    private TeacherUserInfoModal? teacherQuizInfoModal;
    private TeacherAddStudentToQuiz? teacherAddStudentToQuiz;
    private TeacherQuestionsInfo? teacherQuestionsInfo;

    private CustomModal? deleteConfirmationModal;

    private List<QuizDTO>? quizzesMaked;
    private QuizDTO quizToBeDeleted = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (httpHandler == null) return;
            if (jWTokenHandler == null) return;
            if (sessionStorageHandler == null) return;

            string jwt = await jWTokenHandler.GetToken();
            int id = await sessionStorageHandler.GetItem<int>(SessionStorageHandler.Item.userID);
            string userRole = await sessionStorageHandler.GetItem<string>(SessionStorageHandler.Item.userRole);
            if (userRole == "Student")
            {
                NavigationManager.NavigateTo("/home");
                return;
            }

            loading?.Start();

            (HttpStatusCode statusCode, List<QuizDTO> response) =
                await httpHandler.GetAsync<List<QuizDTO>>(
                    $"/api/Quizs/ByCreater/{id}", jwt);

            if (statusCode == HttpStatusCode.OK)
            {
                quizzesMaked = response;
                StateHasChanged();
            }
            loading?.Stop();
        }
    }

    private void RemoveCountOnquestion(QuizDTO quiz)
    {
        QuizDTO? quizFound = quizzesMaked?.First(q => q.ID == quiz.ID);
        if (quizFound != null)
        {
            quizFound.QestionsAmount--;
            StateHasChanged();
        }
    }

    private void OpenQeustionModal(QuizDTO quiz)
    {
        teacherQuestionsInfo?.Open(quiz, RemoveCountOnquestion);
    }

    private void OpenQuizModal(QuizDTO quiz)
    {
        teacherQuizInfoModal?.Open(quiz, OpenQuizAddStudents);
    }

    public void OpenQuizAddStudents(QuizDTO quiz)
    {
        teacherAddStudentToQuiz?.Open(quiz, OpenQuizModal);
    }

    private void OpenDeleteQuizConfimationModal(QuizDTO quiz)
    {
        quizToBeDeleted = quiz;
        StateHasChanged();

        deleteConfirmationModal?.Show();
    }

    private async void DeletionConfirmed()
    {
        if (httpHandler == null) return;
        if (jWTokenHandler == null) return;

        string jwt = await jWTokenHandler.GetToken();
        loading?.Start();

        HttpStatusCode statusCode = await httpHandler.DeleteAsync(
            $"/api/Quizs/{quizToBeDeleted.ID}", jwt);

        if (statusCode == HttpStatusCode.NoContent && quizzesMaked != null)
        {
            quizzesMaked.Remove(quizToBeDeleted);
            StateHasChanged();
        }

        deleteConfirmationModal?.Hide();
        loading?.Stop();
    }
}
