@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">
            <div class="main-nav"></div>

            <div class="home">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

           <div class="counter">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
            </div>
            <div class="weather">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
            </div>

            <div class="about">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

        </div>
        



        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
