@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using Login


<div class="page">

    <main>
        <div class="top-row px-4">
            <div class="main-nav"></div>


            <div class="dropdown">
                <button class="dropbtn">More</button>
                <div class="dropdown-content">

                    
                        <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                        </NavLink>
                    

                    
                        <NavLink class="nav-link" href="create">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create
                        </NavLink>
                    

                    
                        <NavLink class="nav-link" href="browse">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Browse
                        </NavLink>
                    

                    <NavLink class="nav-link" href="createCategory">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create Category
                    </NavLink>

                    <NavLink class="nav-link" href="">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </div>

            <div class="about">
                <a href="https://www.mercantec.dk/uddannelser/gymnasiale-uddannelser/eux/eux-datatekniker-programmering" target="_blank" style="color: white;">About</a>
            </div>

            

        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{

    
    
}

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 80px;
        height: 55px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
</style>
