@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using Login
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@code
{
    public static string jwtToken = string.Empty;
    
}



<div class="page">
    <main>

        <div class="top-row px-4">
            <div class="main-nav"></div>

            @if (!string.IsNullOrEmpty(jwtToken))
            {
                <div class="dropdown">
                    <button class="dropbtn">More</button>
                    <div class="dropdown-content">


                        <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                        </NavLink>



                        <NavLink class="nav-link" href="create">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create
                        </NavLink>


                        <NavLink class="nav-link" href="quiz">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Quiz
                        </NavLink>


                        <NavLink class="nav-link" href="browse">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Browse
                        </NavLink>


                        <NavLink class="nav-link" href="ChooseCategoryListOrCreate">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Category
                        </NavLink>

                        <NavLink class="nav-link" href="">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login/logout
                        </NavLink>
                    </div>
                </div>
            }

            <div class="about">
                <a href="https://www.mercantec.dk/uddannelser/gymnasiale-uddannelser/eux/eux-datatekniker-programmering" target="_blank" style="color: white;">About</a>
            </div>


        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

