@page "/createCategory"


<h1>CreateCategory</h1>

<input type="text"placeholder="Add Category">
<button class= "btn btn-primary">Add Category</button>

<input type="text" placeholder="Add Undercategory"/>
<button class="btn btn-primary">Add Undercategory</button>




@code
{



}
