@page "/create"
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Question</h5>
        <input type="text" placeholder="enter question">

        <div class="answer-options">
            <input type="radio" name="answer" input type="text"><br>
            <input type="radio" name="answer" value="5"> 5<br>
            <input type="radio" name="answer" value="7"> 7<br>
        </div>
    </div>
</div>





<button>Submit</button>