@page "/login"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager Navigation
@using API.Models;

<pagetitle>login</pagetitle>

<h1>login</h1>



<EditForm Model="@LoginRequest" OnValidSubmit="@HandleLogin" FormName="loginForm">
    <DataAnnotationsValidator />
    <label for="username">Username:</label>
    <InputText id="username" @bind-Value="LoginRequest.Email" />
    <label for="password">Password:</label>
    <InputText id="password" @bind-Value="LoginRequest.Password" type="password" />
    <button type="submit">Login</button>
</EditForm>


