@page "/login"
@attribute [StreamRendering]

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<div class="container">


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-tittle"> Login Elev</h5>
                    <p class="card-text"> this is where the login should be</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login Lærer</h5>
                <p class="card-text"> This is where login should be</p>
            </div>
        </div>
    </div>

</div>