@page "/StudentMyPage"
@rendermode InteractiveServer
@using API.Models
@using System.Net;

<h1>My Page</h1>

@if (quizzes.Count <= 0)
{
    <p>
        Loading...
    </p>
}
else
{
    <div class="row">
        @foreach (QuizDTO quiz in quizzes)
        {
            <div class="col-md-6 p-1">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">@quiz.Title</h3>
                        <div style="display: flex; gap: 20px;">
                            <div class="MyPageCustomBox">
                                <p class="card-text">Category: @quiz.Category</p>
                            </div>
                            <div class="MyPageCustomBox">
                                <p class="card-text">Difficulty: @quiz.Difficulty</p>
                            </div>
                            <div class="MyPageCustomBox">
                                <p class="card-text">Time: @quiz.Timer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    [Inject] public HttpClient? Http { get; set; }
    List<QuizDTO> quizzes = new();

    protected override async Task OnInitializedAsync()
    {
        if (Http == null) return;

        (HttpStatusCode statusCode, List<QuizDTO>? response) =
        await HttpHandler.GetAsync<List<QuizDTO>>("api/Quizs", Http);

        if (statusCode == HttpStatusCode.OK)
        {
            quizzes = response ?? new();
        }
    }
}
