{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": ""
  },

  "JwtSettings": {
    "Issuer": "",
    "Audience": "",
    "Key": ""
  },
  "environmentVariables": {
    //ip to domain controller then 2 underscores followed by the domain extention
    "AD_CONNECTION_STRING": "{host}__{domain}"
  },
  "AllowedHosts": ""
}